body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.first-section{
    display: flex;
    margin-top: 50px;
}
.half-width{
    width: 50%;
    margin-left: 5%;
    

}
.half-width img{
    width: 80%;
}

h1{
    font-size: 60px;
    font-weight: bold;
}

h1 span{
    color: #FBA24F;
}
p{
    font-size: 22px;
    margin-bottom: 60px;
}

.link-btn{
    text-decoration: none;
    background-image: linear-gradient(#FBA24F,#FF1E1E);
    padding: 20px 40px;
    border-radius: 30px;
    color: white;   
}
.second-section{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
  
}
.second-section .half-width{
    margin-left: 30px;
}


